In [11]:
my_lst = []
my_set = set()

In [12]:
def add_list(lst, val):
    lst.append(val)

In [13]:
def remove_list(lst, val):
    lst.remove(val)

In [14]:
def update_list(lst, index, val):
    lst[index] = val

In [15]:
# add element in the list
choice = 'y'
while (choice == 'y'):
  var = input('Enter element:')
  add_list(my_lst, var)
  choice = input('Enter choice y/n:')
  if (choice == 'n'):
    break

print(my_lst)

Enter element:1
Enter choice y/n:y
Enter element:7
Enter choice y/n:y
Enter element:2
Enter choice y/n:y
Enter element:8
Enter choice y/n:n
['1', '7', '2', '8']

In [16]:
# remove element in the list
var = input('Enter element to be removed:')
remove_list(my_lst, var)
print(my_lst)

Enter element to be removed:8
['1', '7', '2']

In [17]:
# update element in the list
var = input('Enter new element:')
index = int(input('Enter index:'))
update_list(my_lst, index, var)
print(my_lst)

Enter new element:3
Enter index:0
['3', '7', '2']

In [18]:
def add_set(st, val):
    st.add(val)

In [19]:
def remove_set(st, val):
    st.remove(val)

In [20]:
def update_set(st, index, val):
    st.discard(index)
    st.add(val)

In [22]:
# add element in the set
choice = 'y'
while (choice == 'y'):
  var = input('Enter element:')
  add_set(my_set, var)
  choice = input('Enter choice y/n:')
  if (choice == 'n'):
    break

print(my_set)

Enter element:2
Enter choice y/n:y
Enter element:4
Enter choice y/n:y
Enter element:6
Enter choice y/n:y
Enter element:8
Enter choice y/n:n
{'4', '8', '2', '6'}

In [23]:
# remove element in the set
var = input('Enter element to be removed:')
remove_set(my_set, var)
print(my_set)

Enter element to be removed:8
{'4', '2', '6'}

In [24]:
# update element in the set
var = input('Enter new element:')
index = int(input('Enter index:'))
update_set(my_set, index, var)
print(my_set)

Enter new element:1
Enter index:0
{'2', '6', '1', '4'}

In [25]:
# Create dictionary
my_dict = {'name' : 'Anurag', 'age' : 25, 'city' : 'Delhi'}

# add new element in dictionary
my_dict['country'] = 'India'

# remove element from list
my_dict.pop('age')

# update element
my_dict['name'] = 'Anurag Yadav'

# print dictionary
print(my_dict)

{'name': 'Anurag Yadav', 'city': 'Delhi', 'country': 'India'}